.header-top {
  .container {
    padding: 1.6rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(tab-land) {
      padding: 1.6rem 2rem;
    }

    @include respond(phone) {
      justify-content: center;
    }
  }

  svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: currentColor;
    @include easeOut;
  }

  &__social-links {
    display: flex;
    align-items: center;

    & > *:not(last-child) {
      margin-right: 1.6rem;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__phone {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 0.8rem;
    }

    @include respond(phone) {
      display: none;
    }
  }
}
