.navbar {
  background-color: $color-primary;
  color: $color-secondary;
  text-transform: capitalize;
  padding: 1.6rem 0;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__link {
    &,
    &:link,
    &:visited {
      padding: 0.8rem 1.6rem;
      border-radius: 8px;
      display: block;
      @include easeOut;
    }

    &:hover {
      background-color: $color-secondary;
      color: $color-primary;
    }

    &.active {
      background-color: $color-secondary;
      color: $color-primary;
    }
  }
}
