.section-about {
  .promise {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;

    @include respond(phone) {
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 4rem;
    }

    &__item {
      background-color: $color-grey-light-2;
      padding: 4rem 4rem;
      border-radius: 16px;
      border-top: 8px solid $color-primary;
      font-weight: 700;

      @include respond(phone) {
        grid-column: 3 / 6;
        text-align: center;
      }
    }
    svg {
      width: 8rem;
      height: 8rem;
      fill: $color-primary;
      margin-bottom: 2rem;
    }
  }
}

.section-cta {
  background-color: $color-primary;
  color: $color-secondary;
  text-align: center;
  font-size: 2rem;

  .container {
    max-width: 60rem;
  }
}

.section-order {
  .steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;

    @include respond(phone) {
      grid-template-columns: repeat(5, 1fr);
    }

    &-item {
      @include respond(phone) {
        grid-column: 2 / 5;
        text-align: center;
      }
      &__img {
        width: 30rem;
        display: inline-block;
      }

      h4 {
        font-size: 2.4rem;
        color: $color-primary;
      }

      &:last-child {
        grid-column: 2 / 3;

        @include respond(phone) {
          grid-column: 2 / 5;
        }
      }
    }
  }
}
