/* Normalize CSS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* root */
html {
  /* setting as px will prevent users from zoom the website to enlarge the font */
  /* thus setting 10/16% */
  font-size: 62.5%;
  // scroll-behavior: smooth;

  @include respond(tab-land) {
    // width < 1200
    font-size: 56.25%; //1rem = 9px; 9/16 = 56.25%
  }

  @include respond(tab-port) {
    // width < 900
    font-size: 50%; //1rem = 8x; 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 62.5%; //1rem = 12px; 12/16 = 80%
  }
}

body {
  box-sizing: border-box;
  font-size: $default-font-size;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

section {
  padding: 6rem 0;
}
